name: Pre Check Publish

on: [push]

jobs:
  pre-check-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - run: npm ci
      - run: npm pack
      - run: docker run -dt --rm --name node node:20 /bin/bash
      - run: docker cp aeternity-*.tgz node:/root/aeproject.tgz
      - run: docker exec node npm install -g /root/aeproject.tgz
      - run: docker exec node aeproject --version
